 <div class="education-container container-block">
<h2 class="container-block-title">教育背景 education</h2>
<div class="item">
    <h4 class="degree">本科经济学学士学位</h4>
    <h5 class="meta">广东工业大学华立学院</h5>
    <h5 class="meta">主修课程：货币金融学、统计学、证券投资与分析、经济法</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">高中学位</h4>
    <h5 class="meta">广州市第一中学</h5>
    <h5 class="meta">主修课程：综合</h5>
    <div class="time">2007 - 2010</div>
</div><!--//item-->
</div><!--//education-container-->
 <div class="education-container container-block">
<h2 class="container-block-title">证书考取 certificate</h2>
<div class="item">
    <h4 class="degree">证券从业资格证</h4>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">期货从业资格证</h4>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">会计从业资格证</h4>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">大学英语四级</h4>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->