 <div class="education-container container-block">
<h2 class="container-block-title">基本信息 basic</h2>
<div class="item">
    <h4 class="degree">学历</h4>
    <h5 class="meta">本科</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">身高</h4>
    <h5 class="meta">178cm</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">出生日期</h4>
    <h5 class="meta">1990.03.23</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">民族</h4>
    <h5 class="meta">汉</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">住址</h4>
    <h5 class="meta">广东省广州市白云区</h5>
</div><!--//item-->
</div><!--//education-container-->
