<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历 experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">团队负责人(区域）</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">KCV股权投资基金有限公司, 深圳</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>在该公司主要负责股票市场融资融券业务的<strong>后台管理</strong>，客户资产状况的监控与评估并作出<strong>分析报告</strong>并提供意见建议等，后期主要负责深圳区域的<strong>项目管理及运营</strong>。</p>  
                        <p>主要工作内容有：1.向上级提供客户资产与风险评估的分析报告；2.日常客户资产原始数据的审核与档案留存；3.负责大客户的风险监控以及股票市场操作；4.负责部门日常管理，协调部门内部工作；5.负责下单员和后台管理的技术培训。 </p>
                        <p>并且主导管理了以下项目：1.客户档案的管理与规范；2.项目团队组建；3.员工基础交易培训</p>
                    </div><!--//details-->
                </div><!--//item-->                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">交易市场分析员(培训生)</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">广州时域投资有限公司, 广州</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>在该公司主要作为培训生进行<strong>交易员入门</strong>，以日内高频交易的形式在欧洲股票市场进行交易。</p>  
                        <p>主要工作内容有：1.基本分析以及技术分析；2.分析寻找盈利模式；3.交易数据处理分析。</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">经纪人(实习)</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">深圳国亨贵金属有限公司, 深圳</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>在该公司主要作为实习生进行社会工作体验，作为经纪人<strong>寻找客户</strong>、回答客户的产品使用疑问，提供建议。</p> 
                        <p>主要工作内容有：1.向客户介绍公司的产品；2.协助客户的产品使用；3.提供一些基本分析以及建议。</p> 
                        <p>并且作为优秀员工在银行驻点为客户提供咨询服务。</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">大堂经理(实习）</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">华润银行, 深圳</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>在该公司主要作为实习生进行社会工作体验，为客户提供<strong>业务办理指引</strong>。</p> 
                        <p>主要工作内容有：1.负责客户业务办理指引；2.解答客户常规业务疑问；3.向业务介绍基本理财产品；4.面向客户保持良好的形象与服务态度。</p> 
                        <p>并且参加了以下项目；1.作为选手参加了市级别银行间的银行常规业务知识竞赛；2.异地合作单位理财产品的推销办理。</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->