<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目  &amp; 经验 projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">项目团队组建</a></span> - <span class="project-tagline">根据公司的产品特点与规模(0.1-10亿)，组建(3-12人)团队外出对客户进行一对一的服务，主要包括客户沟通、客户资产分析、股票市场操作、风险监控与评估、账户清算结算、管理费催收等，实现项目的稳定运营。</span>          
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">数据分析报表</a></span> - 
                    <span class="project-tagline">主要应用《EXCEl》根据公司业务特点及(300-2000客户规模)，设计用于公司上下级汇报的统一的客户、公司资产分析表以及风险评估表。 </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">交易与风险监控</a></span> - <span class="project-tagline">主要在A股市场，日均300-1000万的交易金额，监控大客户账户资产情况，监控客户违规操作。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">基础交易员的培训</a></span> - <span class="project-tagline">对原始零基础员工以及新进员工进行基础交易入门培训，实现员工具备可上岗操作的技能。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">客户档案的管理与规范</a></span> - <span class="project-tagline">根据原始数据或旧档案重新整理制作规范统一的档案，实现电子化以及纸质档案的保管。</span>
                </div><!--//item-->
            </section><!--//section-->